- extends 'base.haml'
- load i18n

- block breadcrumbs
	%ul.breadcrumb
		%li
			- include 'home_link.haml'
		%li
			%a{'href': '{% url portfolio_work_list %}'}
				{% trans "Portfolio" %}
		%li
			%a{'href': '{{ work.get_absolute_url }}'}
				= work.title

- block caption
	= work.title

- block content
	.description
		= work.description|safe
	- with images=work.images.all
		- with size='220x220' href_version_size='800x800'
			- include 'images_snippet.haml'

- block portfolio_link_class
	active