mail_dump
reports
*sqlite3
error.log
buildout.cfg
.installed.cfg
bin**
eggs**
develop-eggs**
parts**
**.pyc**
**.idea**
**.sass-cache**
**uploads_versions/**
**~
mail_dump**
**.kate-swp
**.directory
**uploads**
