- extends 'html5_empty.haml'
- load i18n
- load repeatblock
- enablemacros

- block sitewide_styles
	%link{'rel': 'stylesheet', 'href':'{{ MEDIA_URL }}twitter_bootstrap/css/bootstrap.css', 'type': 'text/css'}
	%link{'rel': 'stylesheet', 'href':'{{ MEDIA_URL }}jquery-lightbox/css/jquery.lightbox-0.5.css', 'type': 'text/css'}
	%link{'rel': 'stylesheet', 'href':'{{ MEDIA_URL }}bootstrap-wysihtml5/src/bootstrap-wysihtml5.css', 'type': 'text/css'}
	%link{'rel': 'stylesheet', 'href':'{{ MEDIA_URL }}css/doppler.css', 'type': 'text/css'}

- block sitewide_scripts
	%script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}js/jquery-1.7.1.js'}
	%script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}twitter_bootstrap/js/bootstrap.js'}
	%script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}jquery-lightbox/js/jquery.lightbox-0.5.js'}
	%script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0_rc2.js'}
	%script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}bootstrap-wysihtml5/lib/js/prettify.js'}
	%script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}bootstrap-wysihtml5/src/bootstrap-wysihtml5.js'}
	%script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}js/global.js'}

- block body
	.navbar.navbar-fixed-top
		.navbar-inner
			.container
				%a.btn.btn-navbar{'data-target': '.nav-collapse', 'data-toggle': 'collapse'}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.brand{'href': '/'}
					Doppler Studio
					%i &beta;
				.nav-collapse
					%ul.nav
						-#%li
						-#	- include "home_link.haml"
						-#%li
						-#	%a{'href': '{% url games:index %}', 'class': '{% block games_link_class %}{% endblock %}'}
						-#		{% trans "Games" %}
						-#%li
						-#	%a{'href': '{% url plots:index %}', 'class': '{% block plots_link_class %}{% endblock %}'}
						-#		{% trans "Plots" %}
						-#%li
						-#	%a{'href': '{% url forum:index %}', 'class': '{% block forums_link_class %}{% endblock %}'}
						-#		{% trans "Forums" %}
						%li
							%a{'href': '{% url portfolio:work_list %}', 'class': '{% block portfolio_link_class %}{% endblock %}'}
								{% trans "Portfolio" %}
						%li
							%a{'href': '{% url news:index %}', 'class': '{% block news_link_class %}{% endblock %}'}
								{% trans "News" %}
						- if flatpages
							-#%li.dropdown
							-#	%a#flatpages-dropdown-toggler.dropdown-toggle{'href': '{% url flatpages %}', 'class': '{% block flatpages_link_class %}{% endblock %}', 'data-toggle': 'dropdown'}
							-#		{% trans "Flatpages" %}
							-#	%ul.dropdown-menu
							- for flatpage in flatpages
								%li
									%a{'href': '{{ flatpage.url }}'}
										= flatpage.title
				%ul.nav{'style': 'float: right'}
					- if not request.user.is_anonymous
						%li.dropdown
							%a#auth-dropdown-toggler.dropdown-toggle{'href': "{#% url profile %#}", 'data-toggle': "dropdown"}
								{% trans "You are logged in as " %}
								%i.icon-user
								%strong
									= request.user.username
							%ul.dropdown-menu
								-#%li
								-#	%a{'href': '{% url profile %}'}
								-#		{% trans "Profile" %}
								-#%li
								-#	%a{'href': '{% url pm:index %}'}
								-#		{% trans "Private messages" %}
								%li
									%a{'href': '{% url auth:logout %}'}
										{% trans "Logout" %}
					- else
						%li
							-#%a{'href': '{% url auth:login %}'}
							%a{'data-toggle': 'modal', 'href': '#loginModal'}
								{% trans "login" %}
						-#%li
						-#	-#%a{'href': '{% url auth:login %}'}
						-#	%a{'data-toggle': 'modal', 'href': '#signupModal'}
						-#		{% trans "sign up" %}

	.container
		- block breadcrumbs
		- if messages
			- for message in messages
				%div{'class': 'alert alert-{{ message.tags }}'}
					= message
		%h1
			- block caption
		- block content
		- repeat breadcrumbs
		- block login_modal
			%form#loginModal.modal.hide.fade.in.well{'method': 'POST', 'action': '{% url auth:login %}'}
				- csrf_token
				.modal-header
					%a.close{'data-dismiss': "modal"}×
					%h3
						{% trans "Login" %}
				.modal-body
					%label{'for': 'id_username'}
						{% trans "Username" %}:
					%input#id_username{'name': 'username', 'maxlength': '100', 'type': 'text'}
					%label{'for': 'id_password'}
						{% trans "Password" %}:
					%input#id_password{'name': 'password', 'maxlength': '100', 'type': 'password'}
					%input#id_next{'name': 'next', 'maxlength': '100', 'type': 'hidden', 'value': '{{ request.get_full_path }}'}
				.modal-footer
					%button.btn.btn-primary{'type': 'submit'}
						{% trans "Login" %}
		-#- block auth_modal
		-#	%form#signupModal.modal.hide.fade.in.well{'method': 'POST', 'action': '{% url registration_register %}'}
		-#		- csrf_token
		-#		.modal-header
		-#			%a.close{'data-dismiss': "modal"}×
		-#			%h3
		-#				{% trans "Sign up" %}
		-#		.modal-body
		-#			%label{'for': 'id_username'}
		-#				{% trans "Username" %}:
		-#			%input#id_username{'name': 'username', 'maxlength': '100', 'type': 'text'}
		-#			%label{'for': 'id_email'}
		-#				{% trans "E-mail" %}:
		-#			%input#id_email{'name': 'email', 'maxlength': '100', 'type': 'text'}
		-#			%label{'for': 'id_password1'}
		-#				{% trans "Password" %}:
		-#			%input#id_password1{'name': 'password1', 'maxlength': '100', 'type': 'password'}
		-#			%label{'for': 'id_password2'}
		-#				{% trans "Password repeat" %}:
		-#			%input#id_password2{'name': 'password2', 'maxlength': '100', 'type': 'password'}
		-#		.modal-footer
		-#			%button.btn.btn-primary{'type': 'submit'}
		-#				{% trans "Sign up" %}

		%footer.footer
			%p.pull-right
				%a{'href': "#"}
					{% trans "Back to top" %}