- load gameforum
- load i18n

%div{'class': 'character_trust_form character_{{ character.id }}'}
	%div
		{% trans "Your trust: " %}
		%span.user_trust
			= character|get_user_average_trust:request.user
		%i %

	%div
		{% trans "Total trust: " %}
		%span.total_trust
			= character.get_average_trust
		%i %

	%ul.mark_links
		%li
			%a{'href':'{% url games:trust game.id character.id 0 %}'}
				0%
		%li
			%a{'href':'{% url games:trust game.id character.id 20 %}'}
				20%
		%li
			%a{'href':'{% url games:trust game.id character.id 40 %}'}
				40%
		%li
			%a{'href':'{% url games:trust game.id character.id 60 %}'}
				60%
		%li
			%a{'href':'{% url games:trust game.id character.id 80 %}'}
				80%
		%li
			%a{'href':'{% url games:trust game.id character.id 100 %}'}
				100%