- load i18n
- load fb_versions
- load gameforum

%tr
	%td.author
		- if post.author.avatar.image and post.author.avatar.image.path
			.img_container
				%a{'href': '{{ post.autor.avatar.image.url }}'}
					%img.version200x200{'src': '{% version post.author.avatar.image.path "200x200" %}'}
		- if not plot_mode
			%a{'href': '{% url games:character game.id post.author.id %}'}
				= post.author
			- if not no_favorite_links
				%a{'href': '{% url games:favorite_post game.id room.id thread.id post.id %}', 'class': 'favorite_link ajax_link {% if post|is_favorite:request.user %}active{% endif %}'}
					%span.active_text {% trans 'unmake favorite' %}
					%span.passive_text {% trans 'make favorite' %}

			- if post.author.show_trust_marks and not minimal_mode
				- with character=post.author
					- include 'snippets/character_trust_form.haml'

		- else
			= post.author
	%td.post
		.post_wrapper
			%a{'name': 'post_{{ post.id }}'}
			= post.body|safe
			- if not minimal_mode
				- if plot_mode
					%ul.actions
						%li.edit_post
							%a{'href': '{% url plots:edit_post plot.id variation.id room.id thread.id post.id %}'}
								{% trans "edit post" %}
				- else
					- if not post|is_read:request.user and post|mark_read:request.user

					- if post.attachments.all
						.attachments{'style': 'margin-top: 2em;'}
							%h5 {% trans "files attached to post: " %}
							%ul
							- for attachment in post.attachments.all
								%li
									%a{'href': '{{ attachment.file.url }}'}
										- if attachment.file.path|is_image
											.img_container
												%img.version80x80{'src': '{% version attachment.file.path "80x80" %}'}
										= attachment

					%ul.actions
						- if thread|check_write_permission:request.user
							%li.answer_post
								%a{'href': '{% url games:answer_post game.id room.id thread.id post.id %}'}
									{% trans "answer with quote" %}
						- if post|check_edit_permission:request.user
							%li.edit_post
								%a{'href': '{% url games:edit_post game.id room.id thread.id post.id %}'}
									{% trans "edit post" %}
							%li.edit_post_attachments
								%a{'href': '{% url games:edit_post_attachments game.id room.id thread.id post.id %}'}
									{% trans "edit attachments" %}
						%li.to_top
							%a{'href': '#thread'}
								{% trans "to top" %}
			- else
				- if not no_permalinks
					%a{'href': '{{ post.get_absolute_url }}'}
						{% trans "permalink" %}